@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#272D3B;
  --red:#ED176F;
  --coral:#F7817F;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section{
  padding:3rem 9%;
}

.btn{
  display: inline-block;
  padding:.7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background:var(--gradient);
  color:#fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  transform: scale(1.1);
}


header{
  position: fixed;
  top:0; left: 0; right:0;
  background:var(--black);
  z-index: 1000;
  padding:2rem 9%;
  border-bottom: .1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  font-weight: bolder;
  color:#fff;
  font-size: 2.5rem;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:#fff;
}

header .navbar a:hover{
  color:var(--red);
}

#menu-bar{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
}

.home{
  background: url(img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
}

.home .content{
  padding-top: 5rem;
  max-width:70rem;
  margin:0 auto;
}

.home .content h3{
  font-size: 6.5rem;
  color:#fff;
}

.home .content p{
  font-size: 1.7rem;
  color:#eee;
  padding:1rem 0;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home .swiper-slide{
  width: 30rem;
  height: 50rem;
}

.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:var(--black);
}


.about .image{
    flex:1 1 40rem;
    height:50rem;
    background: url(img/Unbenannt-11.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}

.about .content{
    flex:1 1 40rem;
    padding:2rem;
}

.about .content h3{
    font-size: 4rem;
    color:#fff;
}

.about .content p{
    font-size: 1.6rem;
    color:#fff;
    padding:1rem 0;
}


.service{
    
    background:var(--black);
}

.service .content{
    padding-top: 5rem;
    max-width:70rem;
    margin:0 auto;
  }
  
  .service .content h1{
    font-size: 4.5rem;
    color:#fff;
    text-align: center;
  }
.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.service .box-container .box{
    background:#fff;
    margin:2rem;
    padding:1rem;
    width:30rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

.service .box-container .box i{
    font-size: 4rem;
    padding:1rem;
    color:var(--orange);
}

.service .box-container .box h3{
    font-size: 2rem;
    color:#444;
}

.service .box-container .box p{
    font-size: 1.3rem;
    color:#666;
    padding:1rem;
}

.service .box-container .box:hover{
    background:var(--gradient);
  }
  
  .service .box-container .box:hover > *{
    color:#fff;
  }
  .brand-container .content{
    padding-top: 2rem;
    max-width:70rem;
    margin:0 auto;
  }
  
  .brand-container .content h1{
    font-size: 4.5rem;
    color:#fff;
    text-align: center;
    padding: 2rem;
  }
  .brand-container{
    text-align: center;
    background:var(--black);
    
  }
  .portfolio{
    background:var(--black);
  }
  .portfolio .content{
    padding-top: 2rem;
    max-width:70rem;
    margin:0 auto;
  }
  
  .portfolio .content h1{
    font-size: 4.5rem;
    color:#fff;
    text-align: center;
    padding: 2rem;
  }
  .portfolio .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.portfolio .button-container .btn{
    margin:1rem;
    cursor: pointer;
}

.portfolio .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.portfolio .image-container .box{
    width:35rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    height: 25rem;
    position: relative;
    border:1.5rem solid var(--primary-bg-color);
    cursor: pointer;
}

.portfolio .image-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .image-container .box .info{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: .9;
    transform: scale(0);
}

.portfolio .image-container .box:hover .info{
    transform: scale(1);
}

.portfolio .image-container .box .info h3{
    font-size: 2.5rem;
    color:var(--primary-text-color);
}

.review{
  background:var(--black);
 
}
.review .content{
  padding-top: 5rem;
  max-width:70rem;
  margin:0 auto;
}

.review .content h1{
  font-size: 4.5rem;
  color:#fff;
  text-align: center;
}

.review .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box{
  width:35rem;
  margin:4rem 2rem;
  padding-bottom: 2rem;
  text-align: center;
  box-shadow: 0 .3rem .5rem #000;
  background:#fff;
}

.review .box-container .box .image{
  margin-top: -3rem;
}

.review .box-container .box .image img{
  height:10rem;
  width:10rem;
  border-radius: 50%;
  object-fit: cover;
  border: .7rem solid #fff;
}

.review .box-container .box .content h3{
  font-size: 2rem;
  color:#000;
}

.review .box-container .box .content p{
  font-size: 1.4rem;
  color:#333;
  padding:.5rem 1.5rem;
}

.review .box-container .box .content .stars i{
  color:gold;
  font-size: 1.7rem;
  padding:1rem .1rem;
}
.review .box-container .box:hover{
  background:var(--gradient);
}

.review .box-container .box:hover > *{
  color:#fff;
}

.contact{
  background:var(--black);
}
.contact .content{
  padding-top: 5rem;
  max-width:70rem;
  margin:0 auto;
}

.contact .content h1{
  font-size: 4.5rem;
  color:#fff;
  text-align: center;
}
.contact .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row form{
  flex:1 1 40rem;
  background: #fff;
  padding: 2rem;
  margin:1rem;
  box-shadow: 0 .5rem 1rem #fff;
  border-radius: .5rem;
}

.contact .row .map{
  flex:1 1 40rem;
  margin:1rem;
  box-shadow: 0 .5rem 1rem #fff;
  border-radius: .5rem;
  border:2rem solid #fff;
  width:100%;
}

.contact .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form input, .contact .row form textarea{
  padding:1rem 0;
  margin:1rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem solid #FF5F6D;
  text-transform: none;
  background:none;
  color:var(--main-color);
  width: 100%;
}

.contact .row form input::placeholder, .contact .row form textarea::placeholder{
  text-transform: capitalize;
  color:var(--gradient);
}

.contact .row form input:focus, .contact .row form textarea:focus{
  border-color: var(--gradient);
}

.contact .row form .inputBox input{
  width:49%;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

.contact .row form .btn{
  cursor: pointer;
}

.contact .box-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contact .box-container .box{
  flex:1 1 30rem;
  margin:1rem;
  padding:3rem 1rem;
  background:var(--gradient);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
}

.contact .box-container .box i{
  height: 6rem;
  width:6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 3rem;
  background:var(--secondary-bg-color);
  color:var(--main-color);
}

.contact .box-container .box h3{
  color:var(--primary-text-color);
  padding:1rem 0;
  font-size: 2rem;
}

.contact .box-container .box p{
  font-size: 1.5rem;
  color:var(--secondary-text-color);
}

.footer{
  padding:2.5rem 1rem;
  text-align: center;
  font-size: 2rem;
  color:#fff;
  background:var(--black);
  margin-top: 0;
}

.footer span{
  color:#fff;
}

/*#theme-toggler{
  position: fixed;
  top:8.5rem; right:2rem;
  z-index: 998;
  height: 5rem;
  width:5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background:var(--main-color);
  color:#fff;
  cursor: pointer;
  border-radius: 5rem;
}

#theme-toggler.fa-sun{
  transform:rotate(-180deg);
}*/
  .scroll-top{
    position: fixed;
    right:2rem; 
    bottom:7.5rem;
    z-index: 100;
    display: none;
}
.scroll-top img{
    height:7rem;
}


/* media queries */

@media (max-width:991px){

    html{
      font-size: 55%;
    }
  
    header{
      padding:2rem 4%;
    }
  
    section{
      padding:3rem 4%;
    }

  
  }
  
  @media (max-width:768px){
  
    #menu-bar{
      display: block;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background:var(--black);
      border-top: .1rem  solid #fff3;
      padding:1rem 2rem;
      clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.nav-toggle{
      clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      display: block;
      margin:1.5rem 0;
      padding:1rem;
      background:var(--gradient);
      text-align: center;
      border-radius: .5rem;
    }
  
    header .navbar a:hover{
      color:var(--black);
    }
  
    .fa-times{
      transform: rotate(180deg);
    }
  
    .home .content h3{
      font-size: 4rem;
    }
  
    .home .content p{
      font-size: 1.5rem;
    }
  
    
  
  }
  
  @media (max-width:400px){
  
    html{
      font-size: 50%;
    }
  
    .heading{
      font-size: 3.5rem;
    }
  
  }